<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Extractor de imagendes desde PDF</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- partial:index.partial.html -->
    <script>console.clear();</script>
    <script src="https://unpkg.com/pdfjs-dist@2/build/pdf.js"></script>
    <script src="https://unpkg.com/pdfjs-dist@2/build/pdf.worker.js"></script>
    <script src="https://unpkg.com/vue@2"></script>
    <script src="https://unpkg.com/abo-utils@0.3"></script>
    
    <script type="text/x-template" id="templ-page">
        <div>
            <details v-if="p.svg.doc" @click="handleSVG" ref="svgContainer">
           
                    <summary>Pag. {{p.number}} Version SVG</summary>
             
            </details>
            <h4 v-else>Pag. {{p.number}}</h4>
            <ul>
                <li v-for="image in p.images">
                    <figure>
                        <a :href="image.url" :download="image.name"><img :src="image.url" :alt="image.name"></a>
                        <figcaption>{{image.name}}</figcaption>
                    </figure>
                </li>
            </ul>
        </div>
    </script>
    
    <header>
        <h1>Extraer imagenes</h1>
    </header>
    
    <main id="app">
        <label id="pdfs">
            <input type="file" multiple :accept="mime" />
            <span>Abrir PDF</span>
        </label>
        
        <h2 v-if="docs.length">Click para descargar imagenes</h2>
    
        <section v-for="doc in docs">
            <h3>{{doc.name}}</h3>
            <ul>
                <li v-for="page in doc.pages">
                    <page :p="page" />
                </li>
            </ul>
        </section>
        <pre>
        {{ /* docs */ }}
        </pre>
    </main>
    <!-- partial -->
      <script  src="./server.js"></script>
    
    </body>
    </html>
    